*byebug*
cscope.*
filenametags
.DS_Store
obj*
*.o
*.a
tags
*github.com
*go4.org
.rb.tags
.js.tags
.lock-waf*
.waf*
build
.*.sw*
*~
GPATH
GRTAGS
GTAGS
GSYMS
TAGS
ID
*.pyc
pdebug.*
*.tar.gz
*.tgz
.ln_autogen*
!nucleus/src/lib/prebuilt/**/*.a
!nucleus/src/lib/cml/c/**/*.a
log.html
report.html
output.xml
robot.iml
deployment.plan
tools/automation/robot/.idea/
tools/automation/robot/lib/terraform/.terraform/
lens/src/edge/web/tmp/*
lens/src/web/tmp/*
lens/src/core/web/tmp/*
*.patch
terraform.tfstate*
lens/src/edge/web/db/schema.rb
tags
decoder.so
.idea/
*.iml
lens/src/edge/web/.generators
lens/src/edge/web/.rakeTasks
lens/src/edge/web/.ruby-version
